# ===============================
# General
# ===============================
node_modules/
dist/
build/
.next/
out/
.tmp/
temp/
tmp/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
FILE_TO_DELETE

# ===============================
# Environment files
# ===============================
#.env
#.env.local
#.env.development
#.env.production
#.env.test

# ===============================
# Prisma
# ===============================
# prisma/dev.db
# prisma/dev.db-journal
# prisma/*.sqlite
# prisma/*.db
# prisma/migrations/

# ===============================
# Uploads (documentos de postulantes)
# ===============================
uploads/
uploads/*

# ===============================
# Next.js
# ===============================
.next/
.vercel/

# ===============================
# IDE / Editor
# ===============================
.vscode/
.idea/
*.swp

# ===============================
# System files
# ===============================
Thumbs.db
